<main class="overall">
    <div class="header">
        <h1 class="titleText">Gizmo Clicker</h1>
    </div>

    
    <div class="LeftSide">
        <div class="clickArea">
            <img class="clicker" *ngFor="let gizmo of gizmoClick; index as i;" [src]="gizmo" (click)="clickAdd()" [hidden]="!(i === gearIndex)">
        </div>

        <div class="container">
            <div class="ScoreArea">
                <h3 class="clickAreaLargeText">Your Number: {{displayScore}} <br> Gizmos per Second: {{displayIncrease}}</h3>
            </div>

            <button class="RedButton" (click)="RedButtonClick()">Score Boost!</button>
        </div>

        <div class="UpgradeMenu">
            <app-upgrade *ngFor="let upgrade of upgrades" [name]="upgrade.name" [cost]="upgrade.cost" (click)="buyUpgrade(upgrade)" [hidden]="upgrade.purchased"></app-upgrade>
        </div>
    </div>
    

    <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="RightSide">
        <app-building *ngFor="let building of buildings" [name]="building.name" [quantity]="building.quantity"[cost]="building.cost" [img]="building.img" [desc]="building.desc" (click)="buyBuilding(building)"></app-building>
    </div>
</main>