<main class="OverAll">
    <div class="header1">
        <h1>(Auto Click)</h1>
    </div>


    <div class="LeftSide">

        <div class="ScoreArea">
            <h3>Your Number: <span style="font-size: 120%;">{{TotalScore}}</span></h3>

        </div>

        <button class="MainClick" (click)="clickAdd()">Click here!</button>

        <button class="RedButton" (click)="RedButtonClick()">Score Boost!</button>

        <div class="UpgradeMenu">

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="UpgradeClickPower2x()">Buy!</button>
                <div class="UpgradeTitle">Click Power x10 <br>
                    Cost: {{clickPower2xCost}}</div>
            </div>

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="EmployeeProd5x()">Buy!</button>
                <div class="UpgradeTitle">Employee Production x5 <br>
                    Cost: {{EmployeeProd5xCost}}</div>
            </div>

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="SworkshopProd5x()">Buy!</button>
                <div class="UpgradeTitle">Small Workshop Production x5<br>
                    Cost: {{SworkshopProd5xCost}}</div>
            </div>

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="LworkshopProd5x()">Buy!</button>
                <div class="UpgradeTitle">Large Workshop Production 5x<br>
                    Cost: {{LworkshopProd5xCost}}</div>
            </div>

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="LworkshopProd5x()">Buy!</button>
                <div class="UpgradeTitle">Large Workshop Production 5x<br>
                    Cost: {{LworkshopProd5xCost}}</div>
            </div>

            <div class="UpgradeBase">
                <button class="UpgradeButton" (click)="LworkshopProd5x()">Buy!</button>
                <div class="UpgradeTitle">Large Workshop Production 5x<br>
                    Cost: {{LworkshopProd5xCost}}</div>
            </div>
        </div>
    </div>

    <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="RightSide">
        <!--<div class="buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{clickerPower}}</span>
                </span>
                <div class="BuildingLabel">Click Power</div>
                <button class="BuildButton1" (click)="ClickerUp1()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{CPowerCost}}</button>
                <img class="BuildingImageMain" src="assets/img/ArrowImg.png">
            </div>
        </div>-->
        <app-building [TotalScore]="TotalScore" (Output)="updateData($event)"></app-building>

        <div class="buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{employees}}</span>
                </span>
                <div class="BuildingLabel">Employee</div>

                <button class="BuildButton1" (click)="clickBuilding1()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{EmployeeCost}}</button>
                <img class="BuildingImageMain" src="assets/img/EmployeeImg.png">
            </div>
        </div>

        <div class="buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{Sworkshops}}</span>
                </span>
                <div class="BuildingLabel">Small Workshop</div>
                <button class="BuildButton1" (click)="clickBuilding2()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{SworkshopCost}}
                </button>
                <img class="BuildingImageMain" src="assets/img/SmallWorkshopImg.png">
            </div>
        </div>

        <div class="buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{Lworkshops}}</span>
                </span>
                <div class="BuildingLabel">Large Workshop</div>
                <button class="BuildButton1" (click)="clickBuilding3()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{LworkshopCost}}
                </button>
                <img class="BuildingImageMain" src="assets/img/LargeWorkshopImg.png">
            </div>
        </div>

        <div class="buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{Lworkshops}}</span>
                </span>
                <div class="BuildingLabel">Factory</div>
                <button class="BuildButton1" (click)="clickBuilding3()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{LworkshopCost}}
                </button>
                <img class="BuildingImageMain" src="assets/img/Factory.png">
            </div>
        </div>

        <div class=" buildingBase">
            <div class="buildingBackground1">
                <span class="TotalP1"> Total:
                    <span style="font-weight: bold; font-size: 130%;">{{Lworkshops}}</span>
                </span>
                <div class="BuildingLabel">Large Workshop</div>
                <button class="BuildButton1" (click)="clickBuilding3()">
                    <span style="font-weight: bold; font-size: 115%; padding: .5%;">Purchase!</span>
                    <br> Cost:{{LworkshopCost}}
                </button>
                <img class="BuildingImageMain" src="assets/img/LargeWorkshopImg.png">
            </div>
        </div>


    </div>
</main>