.clicker {
    width: 34vmin;
    height: 34vmin;
    
}

.titleText {
    text-align: center;
    margin-top: 2%;
    font-size: 10vmin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clickAreaLargeText {
    font-size: 1.3vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clickAreaSmallText {
    font-size: 1vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

